.popup__content_info {
    max-width: 430px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .popup__content_info {
        width: 280px;
    }
}