.elements__table {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 17px;
}

@media (max-width: 768px) {
    .elements__table {
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
        gap: 20px;
        margin: 0 auto;
    }
}

