.page {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #000000;
    min-width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(320px, 1280px);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: 
    "header"
    "content"
    "footer";
}